@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');

:root {
    --color-primary: #005fb9;
    --color-secondary: #a20068;
    --color-tertiary: #2fa1db;
    --color-quaternary: #d1428A;
    --text-color-primary: #33364b;
}

body {
    width: 100%;
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
    color: var(--text-color-primary);
}

.topbar {
    background: linear-gradient(to right, var(--color-primary) 0%,
    var(--color-tertiary) 75%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar-logo {
    display: flex;
    align-items: center;
}

.topbar-logo .axians-logo {
    height: 1em;
    margin: 1em 1em 1em 3em;
    filter: grayscale(1) invert(0.49) brightness(2);
}

.topbar-logo img {
    height: 2.5em;
    margin: 1em 3em;
    filter: grayscale(1) invert(0.49) brightness(2);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 920px;
    margin: auto;

}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2em 3em;
}

section section {
    margin: 1em 1.5em;
}

section div {
    align-items: stretch;
    flex: 1 1 0px;
}

.section-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}


.section-img.img-top > * {
    margin-top: 0;
    align-self: flex-start;
}

.section-img.img-bottom > * {
    margin-bottom: 0;
    align-self: flex-end;
}

.section-img.img-left > * {
    margin-left: 0;
    justify-self: flex-start;
}

.section-img.img-right > *{
    margin-right: 0;
    justify-self: flex-end;
}

.section-img > * {
    width: 28em;
    margin: 2em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

.col-section {
    flex-direction: column;
}

.section-text {
    padding: 0.5em;
    max-width: 55em;
    min-width: 20em;
}

.section-text h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child{
    margin-top: 0;
}

h1::before {
    content: "";
    display: inline-block;
    height: 0.4em;
    width: 0.4em;
    margin-bottom: 0.15em;
    margin-right: 0.4em;
    background: var(--color-quaternary);
}

section h1 {
    font-size: 1.6em;
}

section h2 {
    font-size: 1.2em;
}

.bold {
    font-weight: bold;
}

.highlighted {
    font-weight: bold;
    color: var(--color-secondary);
}

.weak-emphasis {
    font-style: italic;
    opacity: 0.7;
}

a {
    color: var(--color-primary);
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-image {
    height: 1.1em;
    margin: 0;
    vertical-align: top;
}

p img {
    margin: 0.7em 0;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.flex-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

.flex-list li {
    margin: 1em;
    min-width: 10em;
    flex: 1;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
}

.gallery img {
    flex: 1 1 0px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    margin: 0.2em;
}

.gallery .caption {
    align-self: flex-start;
}

.col-gallery {
    flex-direction: column;
}

.no-shadow {
    box-shadow: none;
}

.box-shadow {
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

