body {
    margin: 0;
    padding: 0;
}

figure {
    display: table;
    background-color: #fff;
    font-size: .875em;
    margin: 0;
}

figure img {
    display: block;
    max-width: 100%;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    background: #fff;
    padding: 0 5px 5px;
}